In [6]:
import pandas as pd
from geopy import Nominatim

In [38]:
url = "speed_camera_df.csv"
df =pd.read_csv(url)

In [48]:
df.shape

(214, 10)

In [50]:
for column in df.columns:
    print("Empty "+ column +"s: " + str(df[column].isna().sum()))

Empty Addresss: 0
Empty Locations: 214
Empty latitudes: 63
Empty longitudes: 63
Empty sum(ViolFine)s: 0
Empty sum(OpenFine)s: 0
Empty sum(OpenPenalty)s: 0
Empty sum(Balance)s: 0
Empty RevenueCollecteds: 0
Empty PctNotPaids: 0

In [53]:
df["Neighborhood"] = df.groupby("Address")["Neighborhood"].transform("first")

In [55]:
df["Neighborhood"].isna().sum()

5408554

In [51]:
df[df["Neighborhood"].notna()]["Neighborhood"].count()

244722

In [59]:
df[df['Neighborhood'].notna()][['Address', 'Neighborhood']]

                    Address     Neighborhood
0        400 E BALTIMORE ST         Downtown
9               17 LIGHT ST         Downtown
19            15 S EUTAW ST         Downtown
20            15 S EUTAW ST         Downtown
28             300 WATER ST         Downtown
...                     ...              ...
5651025       203 E 33RD ST  Charles Village
5651043  1157 RIVERSIDE AVE        Riverside
5651245       1000 LIGHT ST     Federal Hill
5651246      700 S BROADWAY      Fells Point
5651247      800 S BROADWAY      Fells Point

[244722 rows x 2 columns]

In [54]:
df_test.shape

(214, 10)

In [56]:
df_test = df[['Address', 'Location']].copy()
df_test.shape

(214, 2)

In [58]:
df_test = df[['Address', 'Location']].copy()
df_test.shape
df_test['Address'] = df_test['Address'].str.replace(r'\b *O/S *\b', '', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *E/S *\b', '', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *BLOCK *\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *BLK *\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *UNIT *\b', ' ', regex=True)

df_test['Address'] = df_test['Address'].str.replace(r'\b *AV\b', ' AVE', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *AVENUE\b', ' AVE', regex=True)

df_test['Address'] = df_test['Address'].str.replace(r'\b *STR\b', ' ST', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *STREET\b', ' ST', regex=True)

df_test['Address'] = df_test['Address'].str.replace(r'\b *PLACE\b', ' PL', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *PARKWAY\b', ' PKWY', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *COURT\b', ' CT', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *ROAD\b', ' RD', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *HIGHWAY\b', ' HWY', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *DRIVE\b', ' DR', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *BOULEVARD\b', ' BLVD', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *TERRACE\b', ' TER', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *LANE\b', ' LN', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *LA\b', ' LN', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\bUB\b', '', regex=True) #University of Baltimore
df_test['Address'] = df_test['Address'].str.replace(r'\bU/B\b', '', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *EB*\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *WB*\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *NB*\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *SB*\b', ' ', regex=True)


"""df_test['Address'] = df_test['Address'].str.replace(
    r'^(\d{1,})(?=\s)',  # first capture: any number of digits before space
    lambda m: m.group(0)[:-2] + '00' if len(m.group(0)) >= 3 else m.group(0),
    regex=True
)"""

#Addresses = df_test["Address"].unique()
#df_test = pd.DataFrame(Addresses, columns =["Address"])
df_test['OriginalAddress'] = df['Address'].copy()

df_source = df_test.copy()

df_test['Address'].nunique()

<>:33: SyntaxWarning: invalid escape sequence '\d'
<>:33: SyntaxWarning: invalid escape sequence '\d'
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\2951937435.py:33: SyntaxWarning: invalid escape sequence '\d'
  """df_test['Address'] = df_test['Address'].str.replace(

162

In [187]:
#errored aorund 7060, come back and check on that
#Looks like it's an NaN issue
df_source[7050:7080]

                   Address                 OriginalAddress
7050    5400 FREDERICK AVE          E/S 200 BLK ST PAUL ST
7051    5500 EDMONDSON AVE          E/S 100 BLK ST PAUL ST
7052        2600 HOLLEY ST  O/S 100 NORTH LEXINGTON STREET
7053        UB S CURLEY ST                     E/S ST PAUL
7054     400 EAST EAGER ST           E/S 100 N. CALVERT ST
7055       U/B S CASTLE ST              E/S 100 CALVERT ST
7056   U/B SOUTH CASTLE ST       E/S 100 N. CALVERT STREET
7057     1200 N CHESTER ST           E/S 100 N. CALVERT ST
7058     2400 OF BRENTWOOD            E/S 100 N CALVERT ST
7059       1600 NORMAL AVE        E/S 100 N CALVERT STREET
7060       1200 N BROADWAY             E/S 1800 ORLEANS ST
7061            500 E 23RD             E/S 1800 ORLEANS ST
7062          1400 BOND ST             O/S 1800 ORLEANS ST
7063         REAR OF 2300              E/S 1800 ORLEANS ST
7064  REAR OF 2100 BARCLAY              E/S 600 N WOLFE ST
7065          2700 MADISON         E/S 1800 BLK ORLEANS ST
7066           2300 TIOGAN      E/S 1800 BLK OF ORLEANS ST
7067      1800 RUTLAND AVE              E/S 100 ST PAUL ST
7068   PARKED ON WHIT LINE           E/S 100 ST PAUL PLACE
7069          900 EAGAR ST        E/S 100 N CALVERT STREET
7070                   NaN      E/S 100 E LEXINGTON STREET
7071     1300 N MILTON AVE           E/S 200 ST PAUL PLACE
7072        1800 N BOND ST           E/S BLK N PACA STREET
7073      700 N MADEIVA ST                             E/S
7074      N COLLINGTON AVE       E/S 100 N. CALVERT STREET
7075       2100 ORLEANS ST        E/S 100 N CALVERT STREET
7076       2800 E MONUMENT            E/S 100 N CALVERT ST
7077      2300 E NORTH AVE            E/S 100 N CALVERT ST
7078      1800 N DURHAM ST            E/S 100 N CALVERT ST
7079         1800 N DURHAM            E/S 100 N CALVERT ST

In [60]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from time import sleep, time

start_num = 160
increment = 500
list_set = range(start_num, 1000, increment)

# Initialize geocoder
geolocator = Nominatim(user_agent="geoapi")

def geocode_address(address):
    try:
        location = geolocator.geocode(address, timeout=10)
        if location:
            return location.latitude, location.longitude
    except GeocoderTimedOut:
        return None, None
    return None, None

# Load addresses (assume column 'address')
#Addresses = df["Address"].unique()
df_test = df_source[start_num:start_num + increment] #pd.DataFrame(Addresses[start_num:start_num + increment], columns =["Address"])
df_test['Address'] = df_test['Address'].dropna()
#df_test['OriginalAddress'] = df['Address'].copy()

df_test['Address'] = df_test['Address'].str.replace(r'\b *O/S *\b', '', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *E/S *\b', '', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *BLOCK *\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *BLK *\b', ' ', regex=True)
df_test['Address'] = df_test['Address'].str.replace(r'\b *UNIT *\b', ' ', regex=True)

print(df_test.head(50))


for start_point in list_set:
    df_test = df_source[start_point:start_point + increment]
    start= time()
    
    # Apply with rate-limiting
    results = []
    for idx, row in df_test.iterrows():
        lat, lon = geocode_address(str(row["Address"])+", Baltimore, MD")
        results.append((lat, lon))
        if idx%10 == 0:
            print(idx)
            ellapsed = time()-start
            print(ellapsed)
            ratio = ellapsed / (idx - start_point+1)
            remaining = int(ratio * (increment + start_point -idx))
            print(str(int(ellapsed // 60)) +" Minutes "+str(int(ellapsed)%60) +" Seconds Elapsed")
            print(str(int(remaining) // 60) +" Minutes "+str(int(remaining)%60) +" Seconds Remaining")
    
    df_test["latitude"], df_test["longitude"] = zip(*results)
    df_test.to_csv("Geocodes/geocoded_addresses_"+str(start_point)+".csv", index=False)
    
    end = time()
    print("Done")
    print(end-start)

C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Address'] = df_test['Address'].dropna()
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Address'] = df_test['Address'].str.replace(r'\b *O/S *\b', '', regex=True)
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Address'] = df_test['Address'].str.replace(r'\b *E/S *\b', '', regex=True)
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Address'] = df_test['Address'].str.replace(r'\b *BLOCK *\b', ' ', regex=True)
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Address'] = df_test['Address'].str.replace(r'\b *BLK *\b', ' ', regex=True)
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Address'] = df_test['Address'].str.replace(r'\b *UNIT *\b', ' ', regex=True)

                          Address  Location                 OriginalAddress
160               5500 BELAIR RD        NaN           5500 BLK BELAIR RD WB
161              5300 WABASH AVE        NaN          5300 BLK WABASH AVE WB
162           200  NORTHERN PKWY        NaN      200 BLK E NORTHERN PKWY EB
163           200  NORTHERN PKWY        NaN      200 BLK E NORTHERN PKWY WB
164  3900 BK LIBERTY HEIGHTS AVE        NaN  3900 BK LIBERTY HEIGHTS AVE EB
165     4400 LIBERTY HEIGHTS AVE        NaN  4400 BLK LIBERTY HEIGHTS AVE E
166               2400 BOSTON ST        NaN           2400 BLK BOSTON ST SB
167      1300 EAST NORTHERN PKWY        NaN  1300 BLK EAST NORTHERN PKWY WB
168             5800 BELLONA AVE        NaN         5800 BLK BELLONA AVE NB
169               4100 HILLEN RD        NaN               4100 HILLEN RD NB
170             5900 WALTHER AVE        NaN         5900 BLK WALTHER AVE NB
171                 500  28TH ST        NaN            500 BLK W 28TH ST EB
172              6100 HARFORD RD        NaN          6100 BLK HARFORD RD NB
173              5600 ROLAND AVE        NaN          5600 BLK ROLAND AVE SB
174             2100  FAYETTE ST        NaN        2100 BLK E FAYETTE ST EB
175      1200 EAST NORTHERN PKWY        NaN  1200 BLK EAST NORTHERN PKWY EB
176          1600  BELVEDERE AVE        NaN     1600 BLK E BELVEDERE AVE WB
177                  300 KANE ST        NaN              300 BLK KANE ST NB
178               2400 BOSTON ST        NaN           2400 BLK BOSTON ST NB
179               5900 SMITH AVE        NaN           5900 BLK SMITH AVE SB
180           500 . PRESTON ST /B       NaN       500 BLK E. PRESTON ST W/B
181                  100 KANE ST        NaN              100 BLK KANE ST SB
182                1400  41ST ST        NaN           1400 BLK W 41ST ST WB
183        2200  FOREST PARK AVE        NaN   2200 BLK N FOREST PARK AVE SB
184         1200 SOUTH CATON AVE        NaN     1200 BLK SOUTH CATON AVE NB
185         1200 SOUTH CATON AVE        NaN     1200 BLK SOUTH CATON AVE SB
186     1300 WEST COLD SPRING LN        NaN  1300 BLK WEST COLD SPRING LN W
187           600  NORTHERN PKWY        NaN      600 BLK W NORTHERN PKWY WB
188               1000  WOLFE ST        NaN          1000 BLK N WOLFE ST SB
189               1000  PRATT ST        NaN          1000 BLK E PRATT ST EB
190                 1200 KEY HWY        NaN             1200 BLK KEY HWY SB
191               5900 SMITH AVE        NaN           5900 BLK SMITH AVE NB
192           600  NORTHERN PKWY        NaN      600 BLK W NORTHERN PKWY EB
193         000  UNIVERSITY PKWY        NaN  000 BLK W UNIVERSITY PARKWAY E
194               1200  FORT AVE        NaN          1200 BLK E FORT AVE EB
195                 1300 KEY HWY        NaN             1300 BLK KEY HWY NB
196            6100 O'DONNELL ST        NaN        6100 BLK O'DONNELL ST WB
197         000  UNIVERSITY PKWY        NaN  000 BLK W UNIVERSITY PARKWAY W
198            3700 FALLSTAFF RD        NaN        3700 BLK FALLSTAFF RD WB
199     1300 WEST COLD SPRING LN        NaN  1300 BLK WEST COLD SPRING LN E
200            3700 FALLSTAFF RD        NaN        3700 BLK FALLSTAFF RD EB
201              4600 ROLAND AVE        NaN          4600 BLK ROLAND AVE NB
202             5200  CHARLES ST        NaN        5200 BLK N CHARLES ST SB
203             5000  CHARLES ST        NaN        5000 BLK N CHARLES ST NB
204              4700 ROLAND AVE        NaN          4700 BLK ROLAND AVE SB
205              5100 ROLAND AVE        NaN          5100 BLK ROLAND AVE SB
206         100  UNIVERSITY PKWY        NaN  100 BLK W UNIVERSITY PARKWAY W
207              5000 ROLAND AVE        NaN          5000 BLK ROLAND AVE NB
208         7000 PARKHEIGHTS AVE        NaN      7000 BLK PARKHEIGHTS AV SB
209         7000 PARKHEIGHTS AVE        NaN      7000 BLK PARKHEIGHTS AV NB
160
0.7661335468292236
0 Minutes 0 Seconds Elapsed
6 Minutes 23 Seconds Remaining
170
10.485443592071533
0 Minutes 10 Seconds Elapsed
7 Minutes 47 Seconds Remaining
180
21.689833641052246
0 Minutes 21 Seconds Elapsed
8 Minutes 15 Seconds Remaining
190
32.21013069152832
0 Minutes 32 Seconds Elapsed
8 Minutes 8 Seconds Remaining
200
42.957895040512085
0 Minutes 42 Seconds Elapsed
8 Minutes 1 Seconds Remaining
210
53.514779567718506
0 Minutes 53 Seconds Elapsed
7 Minutes 52 Seconds Remaining
Done
56.11406660079956

C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["latitude"], df_test["longitude"] = zip(*results)
C:\Users\joelw\AppData\Local\Temp\ipykernel_17908\3461472644.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["latitude"], df_test["longitude"] = zip(*results)

ValueError: not enough values to unpack (expected 2, got 0)

In [28]:
df_test

Empty DataFrame
Columns: [Address, OriginalAddress]
Index: []

In [143]:
df.columns

Index(['Citation', 'Tag', 'ExpMM', 'ExpYY', 'State', 'Make', 'Address',
       'ViolCode', 'Description', 'ViolFine', 'ViolDate', 'Balance',
       'PenaltyDate', 'OpenFine', 'OpenPenalty', 'NoticeDate',
       'InvestigationStatus', 'TrialStatus', 'GeneralStatus', 'GroupID',
       'ImportDate', 'Neighborhood', 'PoliceDistrict', 'CouncilDistrict',
       'Location', 'HashedRecord', 'NeedsSync', 'isDeleted', 'ESRI_OID',
       'neighborhood'],
      dtype='object')

In [210]:
df_test['Address'].to_csv("raw_addresses.csv")